html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nexa-Bold;
}

p {
  font-family: Nexa-Regular;
  font-size: 20px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Nexa-Regular;
  src: url("./../Fonts/NexaRegular.otf");
}
@font-face {
  font-family: Nexa-Light;
  src: url("./../Fonts/NexaLight.otf");
}
@font-face {
  font-family: Nexa-Bold;
  src: url("./../Fonts/NexaBold.otf");
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("./Images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-head {
  font-size: 60px;
  margin: 0;
  color: #ffffff;
  width: fit-content;
}

#home-head {
  font-size: 30px;
}

#sub-head {
  font-size: 17px;
}

.head-container {
  display: flex;
  width: 100%;
  padding: 25px;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: auto;
}

.head-container a {
  color: #ffffff;
}

.home-subhead {
  font-size: 35px;
  margin: 0;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.home-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  align-self: flex-end;
  padding: 25px;
  padding-left: 45px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
}

#home-nav {
  display: none;
  width: max-content;
}

.home-nav > a {
  font-family: Nexa-Bold;
  font-size: 25px;
  color: #ffffff;
  align-self: flex-start;
  margin-top: 30px;
  padding-right: 100px;
}

.home-nav > a:hover {
  color: #038dea;
}

.welcome {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container-home {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-play-button {
    width: 120px;
    margin-top: 30px;
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 25px;
    padding: 10px;
    color: #ffffff;
    background-color: #046ae6;
    border-radius: 35px;
  }
  
  .home-howtoplay-button {
    width: 200px;
    margin-top: 30px;
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 25px;
    padding: 10px;
    background-color: #00000050;
    color: #038dea;
    border-color: #038dea;
    border-width: 5px;
    border-style: solid;
    border-radius: 35px;
  }
  
  @media only screen and (max-width: 600px) {
    .category-button-container {
      flex-direction: column;
    }
  
    .category-selection {
      width: 90%;
    }
  
    .home-head {
      font-size: 35px;
    }
  
    .home-subhead {
      font-size: 25px;
      letter-spacing: normal;
    }
  
    #home-nav {
      width: 100%;
      padding: 25px;
    }
    .home-nav > a {
      font-size: 22px;
      align-self: center;
      padding: 0;
    }
  
    .button-container-home {
      flex-direction: column;
    }
  }

  .about-us {
    background-color: #06060c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #00ffff;
    border-style: solid;
    border-width: 3px;
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
  }
  
  #team {
    margin-top: 20px;
  }
  
  .about-head {
    font-family: Nexa-Regular;
    font-size: 40px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    width: fit-content;
    box-sizing: border-box;
  }
  
  .about-desc {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    font-family: Nexa-Light;
    font-size: 30px;
    color: #ffffff;
    box-sizing: border-box;
    margin-top: -25px;
  }
  
  .person {
    display: flex;
    flex: 0.5;
    flex-basis: 45%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 20px;
  }
  
  .avatar {
    height: 200px;
  }
  
  .name,
  .position {
    margin: 0;
    padding: 5px;
    padding-left: 25px;
  }
  .position {
    font-weight: normal;
    font-family: Nexa-Regular;
    line-height: 1.6;
  }
  
  @media only screen and (max-width: 600px) {
    .about-head {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
  
    .about-desc {
      width: 100%;
      margin-left: 0;
      justify-content: center;
    }
  
    .about-container {
      width: 90%;
      padding: 30px;
    }
  
    #team {
      padding: 30px 40px;
      margin: 0;
      margin-top: 30px;
    }
  
    .person {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
    }
  
    .avatar {
      margin-bottom: 20px;
    }
  
    .name {
      font-size: 35px;
    }
    .position{
      font-size: 19.25px;
    }
  
    .name,
    .position {
      padding: 0;
      text-align: center;
    }
  }
  
  .upload-page {
    background-color: #171717;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .upload-head {
    color: #ffffff;
  }
  
  .upload-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
  }

  .upload-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 50vw;
    box-sizing: border-box;
  }


  .upload-input, .upload-tag-input {
    background-color: #090909;
    font-family: Nexa-Regular;
    font-size: 28px;
    color: #ffffff;
    border: 0;
    padding: 10px;
    padding-left: 15px;
    width: 50vw;
    box-sizing: border-box;
  }

  .upload-tags-container div{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
  }

  .upload-tags-container input{
    width: 50px;
    margin: 0;
  }
  
  .upload-input-label {
    font-family: Nexa-Regular;
    font-size: 28px;
    color: #ffffff;
    border: 0;
    padding: 8px;
  }
  
  #clue-input,
  #answer-input {
    text-transform: capitalize;
  }
  
  .upload-button {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #046ae6;
    border-radius: 25px;
    width: 150px;
    color: #ffffff;
    border: 0;
    padding: 10px;
    align-self: center;
    font-family: Nexa-Bold;
    font-size: 25px;
    margin-top: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .upload-head {
      font-size: 25px;
    }
  
    .upload-input {
      font-size: 18px;
      width: 75vw;
    }
  
    .upload-button {
      font-family: Nexa-Regular;
      font-size: 18px;
      width: 120px;
    }
  }
  
  .bg-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    width: 100%;
  }

  .play-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./Images/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  
  .play-page-head {
    color: #ffffff;
    font-size: 35px;
  }
  
  .play-sub-head {
    color: #ffffff;
    font-weight: normal;
    font-family: Nexa-Regular;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .play-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #046ae6;
    overflow: hidden;
  }

  .play-image-container img{
    width: 500px;
    filter: blur(10px);
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .answer-button {
    border: 0;
    margin-top: 30px;
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 25px;
    padding: 10px;
    color: #ffffff;
    background-color: #046ae6;
    border-radius: 35px;
  }
  
  #uncensor {
    width: 180px;
    margin-right: 10px;
  }

  #play-answer-message{
    width: 80%;
    display: none;
    z-index: 2;
    text-align: center;
  }
  
  #show-answer {
    width: 250px;
  }

  #play-page-answer-head{
    display: none;
    width: 80%;
    text-align: center;
  }

  #next-button{
    display: none;
    width: 120px;
    z-index: 2;
  }
  
  .play-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
  }
  
  .play-answer {
    background-color: #090909;
    font-family: Nexa-Regular;
    font-size: 28px;
    color: #ffffff;
    border: 0;
    padding: 10px;
    padding-left: 15px;
    width: 50vw;
    box-sizing: border-box;
    margin-top: 25px;
  }
  
  .toast-correct {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4ca541;
    color: #ffffff;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-family: Nexa-regular;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .toast-incorrect {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336;
    color: #ffffff;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-family: Nexa-regular;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .hold-on-info {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0863a0;
    color: #ffffff;
    text-align: center;
    width: 380px;
    padding: 10px;
    font-family: Nexa-regular;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .answer-display {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111111;
    width: 320px;
    color: #ffffff;
    padding: 45px 30px;
    padding-bottom: 30px;
    font-family: Nexa-regular;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .play-again {
    width: 180px;
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 25px;
    padding: 10px;
    color: #ffffff;
    background-color: #046ae6;
    border-radius: 35px;
  }
  
  .play-popup-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("./Images/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .play-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
    background-color: #151515;
  }
  
  .play-popup > h1 {
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  
  .play-popup > p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    padding-top: 0;
  }
  
  .play-popup > svg {
    padding: 25px;
    align-self: flex-end;
  }
  
  @media only screen and (max-width: 600px) {
  
    .play-page-head {
      font-size: 25px;
    }
  
    .play-sub-head {
      margin-bottom: 10px;
      width: 100%;
    }

    .play-image-container{
      width: 80%;
    }

    .play-image-container img{
      width: 100%;
    }
  
    .play-answer {
      width: 80vw;
      font-size: 22px;
    }
  
    #button-container {
      flex-direction: column;
    }

    #uncensor{
      width: 150px;
      margin-right: 0;
    }
  
    .toast-correct,
    .toast-incorrect {
      right: 0;
      right: 50%;
      transform: translateX(50%);
    }
  
    .answer-display {
      width: 220px;
      padding: 35px 25px;
      padding-bottom: 25px;
      font-size: 15px;
    }
  
    .answer-button {
      font-size: 20px;
      margin-top: 20px;
    }
  
    #show-answer {
      width: 200px;
    }
  
    .hold-on-info {
      font-size: 16px;
      width: 300px;
    }
  
    .play-popup {
      width: 90%;
    }
  
    .play-popup > h1 {
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .play-popup > p {
      font-size: 20px;
      flex-direction: column;
    }
  }
  
  
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #99999918;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.footer p {
  text-align: center;
}

.footer h5 {
  text-align: center;
  margin: 0;
  font-family: Nexa-Regular;
}

.footer p:nth-child(1) {
  margin-right: auto;
}

.icons {
  box-sizing: border-box;
  margin-left: auto;
}

.icons svg {
  color: #ffffff;
  padding-left: 20px;
}

#copyright {
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .footer p {
    margin: 0;
    margin: 5px 0;
  }

  .footer p:nth-child(1) {
    margin-right: 0;
    margin-top: 10px;
  }

  #copyright {
    position: relative;
    left: 0;
    transform: none;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 1;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  